body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
        font-family: "calistoga-regular";
        src: local("calistoga-regular"),
          url("./assets/fonts/calistoga-regular.ttf") format("truetype");
      }
@font-face {
        font-family: "lato-700";
        src: local("lato-700"),
          url("./assets/fonts/lato-700.ttf") format("truetype");
      }
@font-face {
        font-family: "lato-regular";
        src: local("lato-regular"),
          url("./assets/fonts/lato-regular.ttf") format("truetype");
      }
@font-face {
        font-family: "abril-fatface-regular";
        src: local("abril-fatface-regular"),
          url("./assets/fonts/abril-fatface-regular.ttf") format("truetype");
      }
@font-face {
        font-family: "lato-900";
        src: local("lato-900"),
          url("./assets/fonts/lato-900.ttf") format("truetype");
      }
